.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-Base{
  background-color: var(--base-primarycolor);
  color: white;
}
.App-HighTechPurple{
  background: var(--Purpletech-PurpleOrangeGradientVertical);
  color: white;
}
.App-HighTechRed{
  background: url("../Backgrounds/HighTechRed-BaseBackGround.svg") #840404;
  background-repeat: repeat;
  background-size: cover;
  background-position: right top;
  color: white;
}
.App-KissLand{
  background: url("../Backgrounds/KissLand-Base.svg") black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  color: white;
}
