.SocialsCard{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    padding-left: 5%;
    padding-top: 0.5%;
}
.SocialsCard > *{
    margin-left: 1vh;
}
