.About{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.About > .ProfilePictures{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.About > img{
    width: 100%;
    height: 50vh;
}
.About > p{
    padding: 0 15%;
}
