.Home-logo{
    text-align: center;
    overflow: hidden;
    z-index: 0;
}
.Home-logo > img{
    width: 40vw;
    height: 50vh;
}
.Home-logo > .Home-paragraph{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 10%;
    margin-bottom: 0;
    
}
.Home-logo > .Home-paragraph-HighTechRed{
    background-color: #840404;
}
.Home-logo > .Home-paragraph-KissLand{
    background-color: #0A0D0A;
}
.Home-logo .ProjectsContainer{
    padding-bottom: 5%;
}
.Home-logo > .ProjectpricingCards{
    display: flex;
    
    overflow: hidden;
    justify-content: center;    
    margin-bottom: 10%;
}
.HomePage{
    overflow-x: hidden;
}