.Home-logo{
    text-align: center;
    overflow: hidden;
    height: 92vh;
    width: 100%;
    z-index: 0;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
                1px -1px 0 #000;
    display: flex;
    align-items: center;
}
.Home-logo .ButtonAndHeader{
    text-align: left;
    flex:1;
}
.Home-logo > h1 {
    font-size: 5vh;
    margin-top: 15vw;
    text-align: left;
    margin-top: 20vh;
}
.Home-logo > img{
    width: 40%;
    height: 60%;
}
.Home-logo > .Home-paragraph{
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 40%;
    margin-bottom: 0;
    text-align: left;
    
}
.Home-logo .ProjectsContainer{
    padding-bottom: 5%;
}
.Home-logo > .ProjectpricingCards{
    display: flex;
    
    overflow: hidden;
    justify-content: center;    
    margin-bottom: 10%;
}
.Home-logo > .ResumeDownloadButton{
    padding-top: 5px;
    float: left;
}
.HomePage{

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-aspect-ratio: 16/12)  {
    .Home-logo{
        height: 50vh;
    }
}
@media (max-aspect-ratio: 16/9)  {
    .Home-logo > .Home-paragraph{
        padding-right: 0;

    }
}