.Skills{
    position: relative;
    text-align: center;
    background-color: black;
}
.Skills > img{
    width: 40%;
    height: 50vh;
}
.SkillsContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}