.AlignedLinkContainer{
    display: flex;
    justify-content: center;
}
.AlignedLink{
    /*for some reason just setting the height to 100% does nothing*/
    aspect-ratio: 2/1;
    border-radius: 7%;
    min-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}