.SkillCard{
    border: 2px solid red;
    border-radius: 10%;
}
.SkillCard-KissLand{
    background-color: #0A0D0A;
}
.SkillCardIcon{
    border: 2px solid red;
    width: 20%;
    height: 15%;
    margin-left:  10%;
    margin-top:  10%;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SkillCardIcon-KissLand{
    background-color: white;
}

.SkillCardIcon > *{
    width: 30%;
    height: 30%;
}
.SkillCard > p{
    text-align: left;
    margin-left: 10%;
    margin-right: 15%;
}