.ButtonContainer{
    margin-bottom: 10%;
    transform-origin: left center;
}
.ButtonContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 1px solid black;
}
.ButtonContainer button > div{
    height: auto;
}
.ButtonContainer button > *{
    height: 50%;
    padding-right: 5%;
}

.Button-Base{
    background-color: var(--base-primarycolor-alt);
    color: white;
    transition: background-color 300ms linear;
}
.Button-Base:hover{
    background-color: var(--base-primarycolor);
    transition: background-color 300ms linear;
}


.Button-HighTechPurple{
    background-color: var(--Purpletech-Secondarycolor);
    color: white;
    transition: background-color 300ms linear;
}
.Button-HighTechPurple:hover{
    background-color: var(--PurpleTech-Secondarycolor2);
    transition: background-color 300ms linear;
}

.Button-HighTechRed{
    background-color: var(--HighTechRed-SecondaryColor);
    color: white;
    transition: background-color 300ms linear;
}
.Button-HighTechRed:hover{
    background-color: var(--HighTechRed-SecondaryColor-alt);
    transition: background-color 300ms linear;
}


.Button-KissLand{
    background-color: var(--KissLand-TertiaryColor);
    color: white;
    transition: background-color 300ms linear;
}
.Button-KissLand:hover{
    background-color: var(--KissLand-TertiaryColor-alt2);
    transition: background-color 300ms linear;
}
