.AlignedLink{
    color: rgb(241, 241, 241);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AlignedLink-Base:hover{
    border-top: 1px solid var(--base-info);

}