.DropDownMenu{
    position: absolute;

    border: 1px solid black;
    border-radius: 5%;
    padding: 0.5% 0.5%;
    list-style-type: none;
    margin-top: 1%;
    right: 1%;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    background-color: var(--chakra-colors-blackAlpha-600);

}
.DropDownMenu > li {
    padding: 0;
    margin: 1vh 1vw;
    text-align: center;
}
/*
.DropDownMenu-Base{
    background: var(--base-primarycolor);
}
.DropDownMenu-HighTechPurple{
    background-color: var(--Purpletech-Primarycolor);
}
.DropDownMenu-HighTechRed{
    background-color: var(--HighTechRed-PrimaryColor);
}
.DropDownMenu-KissLand{
    background: #0A0D0A;

} */