.Card{
    aspect-ratio:  5 / 3;
    height: 90%;
    width: 90%;
    background-color: var(--surface-card);
}
.CardContainer{
    transform: scale(0.5);
    aspect-ratio:  5 / 3;
    height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.CardContainer-HighTechPurple > * {
    background-color : var(--Purpletech-altpurple)
}

.CardContainer-HighTechRed {
    background-color: var(--HighTechRed-PrimaryColor);    
}
.CardContainer-KissLand{
    background-color: var(--KissLand-TertiaryColor-alt2);
}
    