.DropDownMenu{
    position: absolute;
    width: 15vh;
    border: 2px solid black;
    border-radius: 10%;
    padding: 2%;
    list-style-type: none;
    margin-top: 1%;
    right: 5vw;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}
.DropDownMenu > li {
    margin: 10px;
    text-align: center;
}