.DetailsCard{
    color: white;
    height: max-content;
    border-bottom: none;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.DetailsCard > *{
    margin-left: 10%;
    margin-right: 20%;
    text-align: left;
}
.DetailsCard .Content{
    height: 100%;
    width: 70%;
}
.DetailsCard .Title{
    margin-top: 10%;
    
}


.DetailsCard-Base{
    border-color: var(--base-secondarycolor);
}
.DetailsCard-HighTechPurple{
    border-color: var(--Purpletech-Primarycolor) ;
}

.DetailsCard-HighTechRed{
    border-color: var(--HighTechRed-PrimaryColor);
}

.DetailsCard-KissLand{
    border-color: var(--Kissland-primaryColor);
}
.DetailsCard:hover > .LittleBar > *{
    width: 160px;
    transform-origin: left top;
    transition: 0.5s;
}

@media (max-aspect-ratio: 16/9)  {
    .DetailsCard{
        border-right: none;       
    }
}