.DetailsCard{
    color: white;
    height: 100%;
    width: 100%;
    border-bottom: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}
.DetailsCard > *{
    margin-left: 10%;
    margin-right: 20%;
    text-align: left;
}
.DetailsCard .Content{
    height: 100%;
}
.DetailsCard .Title{
    margin-top: 10%;
    
}


.DetailsCard-Base{
    border-color: var(--base-secondarycolor);
}
.DetailsCard-HighTechPurple{
    border-color: var(--Purpletech-Primarycolor) ;
}

.DetailsCard-HighTechRed{
    border-color: black;
}

.DetailsCard-KissLand{
    border-color: var(--Kissland-primaryColor);
}
@media (max-aspect-ratio: 16/9)  {
    .DetailsCard{
        border-right: none;       
    }
}