.ExperienceBar{
    display: inline-block;
    position: relative;
    width: 40vh;
}
.ExperienceBar .ExperienceCheckPointText{
    position: relative;
    left: -5%;
}
.ExperienceBarCheckPoints{
    display: flex;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.Bar{
    background-color: grey;
    height: 10px;
    width: 80.6%;
}
.Bar .ProgressBar{
    height: 100%;
    background-color: red;
}
.ExperienceBarCheckPoints > .ExperienceCheckpoint{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}