.IntroductionCard{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;   
}

.IntroductionCard .InfoList{
    list-style-type: none;
    padding-left: 0;
}

.IntroductionCard .InfoList .InfoListLink{
    color: white;
}


.IntroductionCard-Base{
    background-color: var(--base-info);
 }
.IntroductionCard-HighTechPurple{
    background: var(--Purpletech-PurpleOrangeGradientHorizontal);
}
.IntroductionCard-HighTechRed{
    background-color: red;
}
.IntroductionCard-KissLand{
    background-color: var(--KissLand-TertiaryColor-alt2);
}


.IntroductionCard > *{
    flex : 1;
}
@media (max-aspect-ratio: 16/9)  {
    .IntroductionCard{
        flex-direction: column;
        height: 180vh;
    }
}