.ProjectPricingCardContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ProjectPricingCard-Base{
    border-color: var(--base-primarycolor-alt) !important;
}
.ProjectPricingCard-HighTechPurple{
    border-color: var(--Purpletech-Secondarycolor) !important;
}
.ProjectPricingCard-HighTechRed{
    border-color: var(--HighTechRed-PrimaryColor2) !important;
}
.ProjectPricingCard-KissLand{
    border-color: var(--Kissland-green) !important;
}
.ProjectPricingCard{
    background-color: var(--surface-card);
    border: 1px solid;
    width: 40vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex;   
    align-items: center; 
}
.ProjectPricingCard ol{
    margin-top: 2%;
    width: 75%;
}
.ProjectPricingCard ol li{
    list-style: "*";
    padding-left: 2%;
    text-align: left;
}
.asterisk{
    padding-left: 18%;
    padding-right: 18%;
    font-size: 0.6em;
    text-align: center;
}
.ProjectButton{
    margin-bottom: 20%;
    margin-top: auto;
}
.list{
    margin-top: auto;
}