.ResumeCardTitle{
    width: 100%;
    text-align: left;
    background-color: var(--primary-color-text);
    margin: 0;
    padding: 2.5%;
    padding-left: 10% ;
}
.ResumeCard .TwoDetails{
    display: flex;
    flex-direction: column;
    height: max-content;
}
.ResumeCard > *{
    height: 100%;
    width: 100%;
}
.ResumeCard .TwoDetails > *{
    flex: 1;
}
.ResumeCard{
    border-bottom: none;
}
.ResumeCard{
    width: 100%;
    height: 135vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;   
    background-color: var(--gray-800);
    border-bottom: 1px solid ;
} 
.ResumeCard .InfoList:last-child{
    height: max-content;
}
.ResumeCard .InfoList{
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    padding-left: 0;
}
.ResumeCard .InfoList li{
    margin-bottom: 2%;
}
.ResumeCard .InfoList .LastInfoList{
    margin-top: auto;
    margin-bottom: 10%;
}

.ResumeCard .InfoList .InfoListLink{
    color: white;
}
.ResumeCard > *{
    flex : 1;
    border-bottom: none;
}
@media (max-aspect-ratio: 16/9)  {
    .ResumeCard{
        flex-direction: column;
        height: 450vh;
    }
}
