.SixSkillCards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-800);
}
.SixSkillCards > *{
    margin: 1%;
}

.SixSkillCards-Base{
    background-color: var(--base-info);
}

.SixSkillCards-HighTechPurple{
    background-color: var(--Purpletech-Secondarycolor);
}

.SixSkillCards-HighTechRed{
    background-color: var(--KissLand-TertiaryColor-alt);
}

.SixSkillCards-KissLand{
    background-color: var(--KissLand-TertiaryColor-alt);
}