.SkillCard{
    position: relative;
    border-radius: 1%;
    padding-top: 5vh;
    min-height: 50vh;
    max-width: 30vw;
    border: 1px solid;
    background-color: #0c0c0c;
}

@media (max-aspect-ratio: 12/9)  {
    .SkillCard{
        max-width: 40%;
        height: 80vh;
        max-height: none;
    }
    .SkillCard h2{
        font-size: medium;
    }

}
.SkillCard .SkillcardContent{
    overflow: hidden;
}
.SkillCardIcon{
    position: absolute;
    top: -5vh;
    left: 0;
    width: 10vh;
    height: 10vh;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    margin-left: 2.5% !important;
}
.SkillCard:hover > .SkillcardContent > .LittleBar > *{
    width: 200px;
    transform-origin: left top;
    transition: 0.5s;
}
.SkillCardIcon svg{
    width: 50%;
    height: 50%;
}
.SkillCard > .SkillcardContent > *{
    margin-left: 10%;
}
.SkillCard > .SkillcardContent h2{
    overflow: hidden;
    text-align: left;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 1%;
    margin-bottom: 2%;
    margin-top: 0;
    hyphens: auto;
}
.SkillCardIcon .SkillcardContent *{
    width: 40%;
    height: 40%;
    
}
.SkillCard .SkillcardContent > p{
    text-align: left;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 5%;
}


.SkillCard-Base{
    border-color: var(--base-info);
    transition: background 500ms linear;
}
.SkillCard-HighTechPurple{
    border-color: var(--Purpletech-Primarycolor);
    transition: background 500ms linear;
}
.SkillCard-HighTechRed{
    border-color: var(--HighTechRed-PrimaryColor);
    color: white;
    transition: background 500ms linear;
}
.SkillCard-KissLand{
    border-color: var(--Kissland-green);
    color: white;
    transition: background 500ms linear;
}